<div class="modal fade" id="modalAbout" tabindex="-1" role="dialog" aria-labelledby="modalAboutLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">

            <div class="col-lg-12">
              <h2 class="h2-responsive product-name text-center">
                <strong>About us</strong>
              </h2>
              <h4 class="h4-responsive  text-center">
                <span class="green-text">
                  <p>We are a group of developers from Europe concerned about peoples' health in the light of Covid-19 virus outbreak.</p>
                </span>
              </h4>
              <div class="modal-body">
                <div class="text-center">
                  <p>We strongly advise everyone to stay at home unless absolutely needed to go outside. If you need to go outside for any urgent reason, this application can help you see what streets and buildings have been in touch with infected people, so you can avoid areas with dense infections.</p>

                  <p>The application offers anyone who is suspicious, self-isolating or has confirmed infection, to mark their movements on the map in the past days or weeks, so to spread awareness about areas for other people to avoid.</p>

                  <p>We developed this application with a goal of providing concerned people a tool to see infected areas in their neighbourhoods, and for infected people to report their whereabouts and spread awareness about Covid-19 spread.</p>

                  <p>We allow anyone to add data points and anyone to comment on added markers and provide also status changes in case a building was disinfected after being in touch with a suspicious or infected person.</p>

                  <p>We do not own any data and rely on people's good judgement when adding data points. Each person that decides to add data points is responsible for accurate placement and description of the markers.</p>
                </div>

                <h3>Contact us</h3>
                <div class="row">
                  <div class="card col-sm-12">
                    <div class="card-body">
                      <h5 class="card-title">covid-report.com</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Spread awareness about the virus within Europe and Worldwide</h6>
                      <p class="card-text">Developed by open source community. Contributions from Una Larisa Pecovnik, Jan Likar, Gabrijel Persin</p>
                      <a href="https://github.com/JanLikar/covid">Github</a><br/>
                      <a href="mailto:covid-report@protonmail.com" class="card-link">covid-report@protonmail.com</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
