{% extends "layout.jinja2" %}
{% block sidebar %}
  <form method="POST" id="add-location">
    <div class="form-group row">
      <label for="lat" class="col-sm-6 col-form-label">{{ _("marker_form_label_latitude") }}</label>
      <div class="col-sm-6">
        <input type="text" id="lat" class="form-control-plaintext readonly" name="lat" placeholder="{{ _('marker_form_label_click_on_the_map') }}" required />
      </div>
    </div>
    <div class="form-group row">
      <label for="lon" class="col-sm-6 col-form-label">{{ _("marker_form_label_longitude") }}</label>
      <div class="col-sm-6">
        <input type="text" id="lon" class="form-control-plaintext readonly" name="lon" placeholder="{{ _('marker_form_label_click_on_the_map') }}" required />
      </div>
    </div>
    <div class="form-group row">
      <label for="reported_date" class="col-sm-12 col-form-label">{{ _("marker_form_label_date") }}</label>
      <div class="col-sm-12">
        <input type="date" id="reported_date" class="form-control border" name="reported_date" value="{{ isotoday }}" min="2020-01-01" max="{{ isotoday }}" required>
      </div>
    </div>
    <div class="form-group row">
      <!-- <label for="lat" class="col-sm-12 col-form-label"></label> -->
      <div class="col-sm-12">
        <!-- <label for="cars">{{ _('marker_form_label_status') }}</label> -->
        <select id="status" class="form-control border" name="status" required>
          <option value="">{{ _("marker_form_label_status") }}</option>
          <option value="1">{{ _('marker_form_label_status_suspicious') }}</option>
          <option value="2">{{ _('marker_form_label_status_infected') }}</option>
          <option value="0">{{ _('marker_form_label_status_healthy') }}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <input type="text" id="name" class="form-control-plaintext border" name="name" placeholder="{{ _('marker_form_label_location_name') }}" required />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <textarea id="note" class="form-control-plaintext border" name="note" placeholder="{{ _('marker_form_label_additional_information') }}"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button class="btn btn-primary" type="submit">{{ _("marker_form_submit_button") }}</button>
      </div>
    </div>
  </form>

{% endblock %}
{% block content%}
    <div id="mapid" data-default-lat="{{ default_lat }}" data-default-lon="{{ default_lon }}"></div>
{% endblock %}
{% block bottom_js %}
  <script>
    var markers= {};

    var map = createMap("mapid");
    loadMarkers(map, markers, true);

    var default_location = [$('#mapid').data('default-lat'), $('#mapid').data('default-lon')];

    var initial_lat = window.localStorage.getItem('lat') || default_location[0];
    var initial_lon = window.localStorage.getItem('lon') || default_location[1];

    map.setView([initial_lat, initial_lon], 8);

    var marker;
    map.on('click', function(e) {
      if(marker)
        map.removeLayer(marker);
      marker = L.marker(e.latlng).addTo(map);
      $("#lat").val(e.latlng.lat);
      $("#lon").val(e.latlng.lng);
    });

    // A hack to make the form fields required and read-only at the same time.
    $(".readonly").on('keydown paste', function(e){
        e.preventDefault();
    });

    var form_selector = 'form#add-location'
    $(document).on('submit', form_selector, function() {
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function( data ) {
              var new_marker_data = data;
              new_marker_data.owned = true;
              new_marker = add_map_marker(map, new_marker_data);
              markers[new_marker_data.id] = new_marker;
              map.removeLayer(marker);
              $(form_selector).trigger('reset');
            },
            error: function( xhr, err ) {
              alert(err);
            }
        });
        return false;
    });

  </script>
{% endblock %}
