{% extends "layout.jinja2" %}
{% block content%}


    <div id="mapid" data-default-lat="{{ default_lat }}" data-default-lon="{{ default_lon }}"></div>


{% endblock %}
{% block bottom_js %}
  <script>
    var marker;
    map.on('click', function(e) {
      if(marker)
        map.removeLayer(marker);
      marker = L.marker(e.latlng).addTo(map);
      $("#lat").val(e.latlng.lat);
      $("#lon").val(e.latlng.lng);
    });

    // A hack to make the form fields required and read-only at the same time.
    $(".readonly").on('keydown paste', function(e){
        e.preventDefault();
    });

    var form_selector = 'form#add-location'
    $(document).on('submit', form_selector, function() {
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function( data ) {
              var new_marker_data = data;
              new_marker_data.owned = true;
              new_marker = add_map_marker(map, new_marker_data);
              markers[new_marker_data.id] = new_marker;
              map.removeLayer(marker);
              $(form_selector).trigger('reset');
            },
            error: function( xhr, err ) {
              alert(err);
            }
        });
        return false;
    });

  </script>
{% endblock %}
