  <div class="modal fade" id="modalHomepage" tabindex="-1" role="dialog" aria-labelledby="modalHomepageLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">

            <div class="col-lg-12">
              <h2 class="h2-responsive product-name text-center">
                <strong>{{ _("title") }}</strong>
              </h2>
              <h4 class="h4-responsive  text-center">
                <span class="green-text">
                  <strong>Spread awareness to get Covid-19 virus off our neighbourhoods</strong>
                </span>
              </h4>
              <div class="modal-body">
                <div class="text-center">
                  <p>To prevent the spread of Covid-19, the best way is to stay home and not to be a medium of this virus.</p>

                  <p>You might be young and healthy so have a higher chance of survival, but you might indirectly result in the infection and death of others who are old and weak, can you live with that?</p>

                  <p>We need to unite and protect the old and weak who are endangered by this virus.</p>
                </div>
              </div>
              <!-- Accordion wrapper -->


              <div class="col-lg-12">
                <div class="box">
                <div class="container">
                  <div class="row">

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="border: 1px solid lightgrey; border-radius: 10px">

                      <div class="box-part text-center">

                                    <i class="fa fa-eye fa-3x" aria-hidden="true"></i>

                        <div class="title">
                          <h4>Concerned?</h4>
                        </div>

                        <div class="text">
                          <p>Click the below button to check streets and neighbourhoods where infected people have been.</p>
                          <p>Be aware of the infections around the place you live, work or regularly visit.</p>
                        </div>

                        <a href="#" onclick="$('#modalHomepage').modal('hide')" class="btn btn-primary" role="button">Check areas that might be infected</a>

                       </div>
                    </div>

                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="border: 1px solid lightgrey; border-radius: 10px">

                      <div class="box-part text-center">

                          <i class="fa fa-bug fa-3x" aria-hidden="true"></i>

                        <div class="title">
                          <h4>(Suspicious) Infected? </h4>
                        </div>

                        <div class="text">
                          <p>Click the below button to mark places you have visited in the past few days, so people can be informed.</p>
                          <p>Spread awareness to help protect the neighbourhoods.</p>
                        </div>

                        <a href="#" onclick="$('#modalHomepage').modal('hide');$('#passphrase-popup').modal('show');" class="btn btn-primary">Mark my infectious movement</a>

                       </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
