<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

    <style>
        #mapid { height: 500px; }
    </style>

    <title>Covid tracker</title>
  </head>
  <body>
  <div class="container">
    <h1>Covid-19 tracker</h1>

    <div class="row mb-4">
      <div class="col-sm">
        <h4>Infected with Covid-19?</h4>
        Mark your movement on the map to notify people that were in contact with you.
        <a class="btn btn-primary" href="/mark_location" role="button">Mark your movement on the map</a>
      </div>
      <div class="col-sm">

      </div>
      <div class="col-sm">
        <h4>Notificiation service</h4>
        Receive a notification if one of the places you regulary visit
      </div>
    </div>
  </div>

    <a href="#" id="use-my-location" data-toggle="tooltip" title="Uses your browser's local storage">Use my location</a>
    <div id="mapid"></div>
    <input type="date" id="map-filter-start" name="map-filter-start" value="2020-03-10" min="2020-03-10" max="{{ isotoday }}">
    <input type="date" id="map-filter-end" name="map-filter-end" value="{{ isotoday }}" min="2020-03-10" max="today">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <script>
	  var map = L.map('mapid')

  	// London
  	var default_location = [51.505, -0.09]

    map.setView(default_location, 13);

  	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
      }).addTo(map);

    $.getJSON("/list_locations", function( data ) {
      $.each( data, function( key, val ) {
        var circle = L.circle([val.lat, val.lon], {
          color: 'red',
          fillColor: '#f03',
          fillOpacity: 0.5,
          radius: 20
        }).addTo(map);
        circle.bindPopup("<b>" + val.name + "</b>" + val.note);
      });
    });

    $("#use-my-location").click(function() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          function (position){
            map.panTo(new L.LatLng(position.coords.latitude, position.coords.longitude));
          },
          function(e) {console.log(e)}
        );
      };
    });

    </script>
  </body>
</html>