<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Check if you were recently at a public location where you could have come into contact with an infected person.">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{request.static_url('back:static/pyramid-16x16.png')}}">

    <title>COVID Report</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

    <!-- Custom styles for this scaffold -->
    <link href="{{request.static_url('back:static/theme.css')}}" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
  </head>
  <body data-logged-in="{{ request.user_logged_in }}">
    <div class="row" style="height:100%; width:100%; padding:0; margin:0">
      <div class="col-sm-3" style="box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); z-index: 1000; padding-bottom: 15px;">
        <div class="container">

          <nav class="navbar navbar-expand-lg navbar-light rounded">
            <div class="navbar-collapse"  style="display: inherit">

              <ul class="navbar-nav mr-auto">
                <!-- START language selector -->
                <li class="nav-item dropdown">
                  {% for l in request.registry.settings.get('available_locales').split(' ') %}
                    {% if l == request.locale_name %}
                      <!-- <option value="{{ l }}" selected>{{ l }}</option> -->
                      <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-{%if l=='en'%}gb{%elif l=='sl'%}si{%endif%}"> </span> {{ l }}</a>
                    {% else %}
                      <!-- <option value="{{ l }}">{{ l }}</option> -->
                      <div class="dropdown-menu" aria-labelledby="dropdown09">
                        <a class="dropdown-item" onclick="setLanguage('{{l}}')" href="#{{l}}"><span class="flag-icon flag-icon-{%if l=='en'%}gb{%elif l=='sl'%}si{%endif%}"> </span>  {{ l }}</a>
                      </div>
                    {% endif %}
                  {% endfor %}
                </li>
                <!-- END language selector -->
              </ul>

              <a href="#" onclick='$("#modalAbout").modal("show");' style="color: black;font-size:36px; padding-left: 20px" id="about-modal"  title="{{ _('use_my_location_tooltip') }}"><i class="fa fa-address-card"></i></a>

              <a href="javascript:" style="color: black;font-size:36px; padding-left: 20px" id="use-my-location" data-toggle="tooltip" title="{{_('use_my_location_tooltip') }}"><i class="fa fa-location-arrow"></i></a>

              <a href="#" onclick='$("#modalHomepage").modal("show");' style="color: black;font-size:36px; padding-left: 20px" id="use-my-location" data-toggle="tooltip" title="{{ _('use_my_location_tooltip') }}"><i class="fa fa-question"></i></a>


            </div>
        </nav>


        <!-- <h1>{{ _("title") }}</h1> -->

        <!-- <h4>{{ _("call_to_action_title") }}</h4> -->
        <!-- <p>{{ _("call_to_action_text") }}</p> -->

        {% if request.authenticated_userid %}

          <form method="POST" id="add-location">
            <div class="form-group row">
              <label for="lat" class="col-sm-6 col-form-label">{{ _("marker_form_label_latitude") }}</label>
              <div class="col-sm-6">
                <input type="text" id="lat" class="form-control-plaintext readonly" name="lat" placeholder="{{ _('marker_form_label_click_on_the_map') }}" required />
              </div>
            </div>
            <div class="form-group row">
              <label for="lon" class="col-sm-6 col-form-label">{{ _("marker_form_label_longitude") }}</label>
              <div class="col-sm-6">
                <input type="text" id="lon" class="form-control-plaintext readonly" name="lon" placeholder="{{ _('marker_form_label_click_on_the_map') }}" required />
              </div>
            </div>
            <div class="form-group row">
              <label for="reported_date" class="col-sm-12 col-form-label">{{ _("marker_form_label_date") }}</label>
              <div class="col-sm-12">
                <input type="date" id="reported_date" class="form-control border" name="reported_date" value="{{ isotoday }}" min="2020-01-01" max="{{ isotoday }}" required>
              </div>
            </div>
            <div class="form-group row">
              <!-- <label for="lat" class="col-sm-12 col-form-label"></label> -->
              <div class="col-sm-12">
                <!-- <label for="cars">{{ _('marker_form_label_status') }}</label> -->
                <select id="status" class="form-control border" name="status" required>
                  <option value="">{{ _("marker_form_label_status") }}</option>
                  <option value="1">{{ _('marker_form_label_status_suspicious') }}</option>
                  <option value="2">{{ _('marker_form_label_status_infected') }}</option>
                  <option value="0">{{ _('marker_form_label_status_healthy') }}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="text" id="name" class="form-control-plaintext border" name="name" placeholder="{{ _('marker_form_label_location_name') }}" required />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <textarea id="note" class="form-control-plaintext border" name="note" placeholder="{{ _('marker_form_label_additional_information') }}"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-10">
                <button class="btn btn-primary" type="submit">{{ _("marker_form_submit_button") }}</button>
              </div>
            </div>
          </form>

        {% else %}

          <form class="form-inline" action="search-address" method="POST">
            <div class="input-group mb-3" style="width: 100%;">
              <input type="text" class="form-control form-control-lg" name="search" placeholder="Search Address">
              <div class="input-group-append">
                <button class="btn btn-primary" style="color: white" type="submit"><i class="fa fa-search" style="color: white"></i></button>
              </div>
            </div>
          </form>

          <div class="form-group">
            <label for="map-filter-start">Filter infectious locations by dates</label>
              <div class='input-group date' id='datetimepicker1'>
                  <input type="date" id="map-filter-start" name="map-filter-start" value="2020-03-01" min="2020-03-01" max="{{ isotoday }}" class="form-control form-control-lg" required>
                  <input type="date" id="map-filter-end" name="map-filter-end" value="{{ isotoday }}" min="2020-03-10" max="{{ isotoday }}" class="form-control form-control-lg" required>
              </div>
          </div>


        {% endif %}
      </div>

    {% if not request.authenticated_userid %}
          <button type="button"  class="btn btn-primary btn-lg btn-block shadow p-3 mb-5 rounded" data-toggle="modal" data-target="#passphrase-popup" style="margin-bottom: 0rem!important;">
              {{ _("call_to_action_button") }}
            </button>
        {% else %}
            <a href="{{ request.route_url('logout') }}" class="btn btn-secondary active" role="button">{{ _("close_session_button") }}</a>
        {% endif %}
    </div>
    <div class="col-sm-9" style="padding: 0;height:100%">
      {% block content %}
          <p>No content</p>
      {% endblock content %}
    </div>
  </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <script>
    var map = L.map('mapid');
    var markers = {};

    // London
    var default_location = [$('#mapid').data('default-lat'), $('#mapid').data('default-lon')];

    var initial_lat = window.localStorage.getItem('lat') || default_location[0];
    var initial_lon = window.localStorage.getItem('lon') || default_location[1];

    map.setView([initial_lat, initial_lon], 8);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
      }).addTo(map);


    function load_markers(only_owned=false) {
        var min_date_element = $('#map-filter-start');
        var max_date_element = $('#map-filter-end');

        var data = {};

        if (max_date_element && min_date_element) {
            data['max_date'] = max_date_element.val();
            data['min_date'] = min_date_element.val();
        };

        if (only_owned) {
            data['only_owned'] = 1
        };

        Object.values(markers).forEach(function (l) {map.removeLayer(l)});
        markers = {};

        $.getJSON("/list-markers", data, function( data ) {
            $.each( data, function( key, val ) {
                markers[val.id] = add_map_marker(map, val)
            });
        });
    };

    if ($('body').data('logged-in') == "True") {
        load_markers(true);
    }
    else {
        load_markers();
    };

    function filterChange(e) {
        load_markers(false);
    };

    $('#map-filter-end').change(filterChange);
    $('#map-filter-start').change(filterChange);

    $("#use-my-location").click(function() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          function (position){
            window.localStorage.setItem('lat', position.coords.latitude)
            window.localStorage.setItem('lon', position.coords.longitude)
            map.panTo(new L.LatLng(position.coords.latitude, position.coords.longitude));
          },
          function(e) {console.log(e)}
        );
      };
    });


    function add_map_marker(map, val) {
      color = 'red'
      console.log(val.status)
      if(val.cur_status == 1){
        // suspicious
        color = '#ff7b00';
      } else if(val.cur_status == 0){
        // healthy
        color = '#b8b5b2';
      } else if(val.cur_status == 3){
        // disinfected
        color = '#b8b5b2';
      }

      var bgcolor = '#f03'

      var circle = L.circle([val.lat, val.lon], {
          color: color,
          fillColor: bgcolor,
          fillOpacity: 0.5,
          radius: 10
        }).addTo(map);

      var popup = "<h4>Current status: "+ val.cur_status_label+"</h4><br><b>" + val.reported_date + ` Status: ` + val.status_label + "</div> </b><br/><b> "+ val.name +"</b><br/>" + val.note + '<br>'

      if(val.comments && val.comments.length > 0) {
        popup = popup + "<br> <b>{{ _('comments_title') }}</b><br>"
        val.comments.forEach(item => popup += '<br><b>' + item.commented_date + (item.status ? ' Status: ' + item.status_label : '') + '</b><br>' + item.comment + '<br>');
      }

      popup = popup + `<br><b><a data-toggle="collapse" href="#collapseCommentForm">{{ _('add_comments_title') }}</a></b><br>
        <form class="collapse" id="collapseCommentForm" method="POST" action="add-comment" id="add-comment">
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="date" id="created_date" class="form-control form-control-sm border" name="created_date" value="{{ isotoday }}" min="2020-01-01" max="{{ isotoday }}" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="text" id="name" class="form-control-plaintext form-control-sm border" name="name" placeholder="{{ _('comment_form_label_name') }}" required />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="email" id="email" class="form-control-plaintext form-control-sm border" name="email" placeholder="{{ _('comment_form_label_email') }}" required />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <textarea style="min-height: 50px" id="comment" class="form-control-plaintext form-control-sm border" name="comment" placeholder="{{ _('comment_form_label_comment') }}"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <select id="status" class="form-control form-control-sm border" name="status">
                    <option value="">{{ _("comment_form_label_status_change") }}</option>
                    {% if not request.authenticated_userid %}
                      <option value="3">{{ _('comment_form_label_status_disinfected') }}</option>
                    {% else %}
                      <option value="0">{{ _('marker_form_label_status_healthy') }}</option>
                      <option value="0">{{ _('marker_form_label_status_suspicious') }}</option>
                      <option value="0">{{ _('marker_form_label_status_infected') }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <button class="btn btn-primary btn-sm" type="submit">{{ _('comment_form_submit_button') }}</button>
                </div>
              </div>
              <input type="text" id="marker_id" class="form-control-plaintext form-control-sm border" name="marker_id" hidden value="`+ val.id + `"/>
              </form>`;

      if(val.owned) {
        popup = popup + '<br/><a href="javascript:;" class="remove-marker" data-marker-id="' + val.id +'">Delete marker</a>';
      };

      circle.bindPopup(popup);
      return circle;
    };


    $(document).on('click', '.remove-marker', function (e) {
      $.ajax({
        url: '/remove-marker/' + $(this).data('marker-id'),
        type: 'POST',
        success: function( data ) {
          marker_id = parseInt(e.target.getAttribute("data-marker-id"));
          map.removeLayer(markers[marker_id]);
          delete markers[marker_id];
        },
        error: function( xhr, err ) {
          alert(err);
        }
      });
  });

    function setLanguage(value) {
        setCookie("_LOCALE_", value, 14);
        location.reload();
    };
</script>

  <script type="text/javascript" src="{{request.static_url('back:static/main.js')}}"></script>

  <script>

    $(document).ready(function(){
      console.log({{show_modal}})
      if({{show_modal}} ){
        $("#modalHomepage").modal('show');
        }
    });

</script>

    {% block bottom_js %}
    {% endblock %}
  </body>
</html>
