<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

    <style>
        #mapid { height: 500px; }
    </style>

    <title>Covid tracker</title>
  </head>
  <body>
  <div class="container">
    <h1>Covid-19 tracker</h1>

    <div class="row mb-4">
      <div class="col-sm">

      </div>
      <div class="col-sm">

      </div>
      <div class="col-sm">

      </div>
    </div>
  </div>

    <a href="#" id="use-my-location" data-toggle="tooltip" title="Uses your browser's local storage">Use my location</a>
    <div id="mapid"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <script>
	  var map = L.map('mapid')

  	// London
  	var default_location = [51.505, -0.09]

    map.setView(default_location, 13);

  	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
      }).addTo(map);

    $("#use-my-location").click(function() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          function (position){
            map.panTo(new L.LatLng(position.coords.latitude, position.coords.longitude));
          },
          function(e) {console.log(e)}
        );
      };
    });

    var marker;
    map.on('click', function(e) {
    if(marker)
      map.removeLayer(marker);
    console.log(e.latlng); // e is an event object (MouseEvent in this case)
    marker = L.marker(e.latlng).addTo(map);
    $("#lat").val(e.latlng.lat);
    $("#lon").val(e.latlng.lng);
    });

    // A hack to make the form fields required and read-only at the same time.
    $(".readonly").on('keydown paste', function(e){
        e.preventDefault();
    });

    </script>
  <div class="container mt-3">
    <form method="POST">
      <div class="form-group row">
        <label for="lat" class="col-sm-2 col-form-label">Latitude</label>
        <div class="col-sm-10">
          <input type="text" id="lat" class="form-control-plaintext readonly" name="lat" placeholder="click on the map" required />
        </div>
      </div>
      <div class="form-group row">
        <label for="lon" class="col-sm-2 col-form-label">Longitude</label>
        <div class="col-sm-10">
          <input type="text" id="lon" class="form-control-plaintext readonly" name="lon" placeholder="click on the map" required />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <input type="text" id="name" class="form-control-plaintext border" name="name" placeholder="Write the name of the location." required />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <textarea id="note" class="form-control-plaintext border" name="note" placeholder="Additional information (optional)"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button class="btn btn-primary" type="submit">Add</button>
        </div>
      </div>
    </form>
  </div>
  </body>
</html>