<div class="modal fade" id="passphrase-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ _("login_modal_title") }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/" method="post">
            <div class="modal-body">
              <p>{{ _("login_instruction") }}</p>
              <p>
              <input type="text" placeholder="{{ _('login_passphrase_placeholder') }}" class="form-control" id="passphrase" name="passphrase" required>
              <input type="email" placeholder="{{ _('login_email_placeholder') }}" class="form-control" id="email" name="email">
               <input type="text" hidden class="form-control" id="gen_passphrase" name="gen_passphrase" value="{{ gen_passphrase }}">
              </p>
              <p><b>{{ _("login_new_session_title") }}</b></p>
              <p>{{ _("login_instruction2") }}</p>

              <p>{{ _("login_new_passphrase_label") }}<br/><code>{{ gen_passphrase }}</code></p>
              <p style="padding-left:20px"><input type="checkbox" class="form-check-input" id="tnccheck" required>
              <label class="form-check-label" for="tnccheck">Accept <a onclick='$("#modalTnC").modal("show");'> Terms and Conditions</a></label></p>


            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" submit>{{ _('login_button_submit') }}</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('login_button_close') }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>